---
interface Props {
  id: string;
  className?: string;
  snapBehavior?: 'start' | 'center' | 'end';
}

const { 
  id, 
  className = '', 
  snapBehavior = 'start' 
} = Astro.props;

const sectionClasses = `snap-${snapBehavior} ${className}`;
---

<section id={id} class={sectionClasses}>
  <slot />
</section>